# Supabase（必須）
# https://supabase.com/dashboard/project/_/settings/api から取得
NEXT_PUBLIC_SUPABASE_URL=https://ckaypcxbfikkhmribccz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_JkcPVp5BeGJ9dkPKo0ZzBw_5hQ44mA9
